
// Inter
$fontInter100: "Inter-Thin";
$fontInter200: "Inter-ExtraLight";
$fontInter300: "Inter-Light";
$fontInter400: "Inter-Regular";
$fontInter500: "Inter-Medium";
$fontInter600: "Inter-SemiBold";
$fontInter700: "Inter-Bold";
$fontInter800: "Inter-ExtraBold";
$fontInter900: "Inter-Black";