.grammarly-report-circular-card-main-container {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    -ms-box-sizing: border-box; 

    .grammarly-report-circular-card-inner-container {
        width: 32rem;
        height: 22.6rem;
        @include flexify(column, space-between, flex-start);


        .grammarly-report-circular-card-circular-item-container {
            position: relative;
            width: 14.7rem;
            height: 14.7rem;

            .grammarly-report-circular-card-circular-value-container {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                font-size: 4rem;
                font-family: $fontInter600;
                @include flexify(row, center, center);

                span {
                    font-size: 3rem;
                }

            }

            .MuiCircularProgress-root {
                width: 14.7rem !important;
                height: 14.7rem !important;
                // background-color: yellow;
                transition-timing-function: ease-in !important;
            }

            .css-oxts8u-MuiCircularProgress-circle {
                transition: stroke-dashoffset 150ms cubic-bezier(0.28, 1.19, 0, 1) 0ms !important;
            }
        }

        .grammarly-report-description-container {
            width: 100%;
            color: #0E101A;
            font-size: 1.6rem;
            line-height: 2.8rem;
            font-family: $fontInter400;
        }
    }

    @include devices(mobile) {
        // &:not(:first-child) {
            margin-top: 6rem;
        // }
    }
}

